*{
    font-family: "Funnel Display", sans-serif;
    box-sizing: border-box;
}
.indexNav img, .loginNav img{
    background-color: black;
    width: 20%;
    border-radius: 5px;
}
input{
    background-color: #d3d5fd !important ;
}
.button{
    background-color: black !important;
    border: none !important;
    transition: 0.3s;
}
.button:hover{
    background: linear-gradient(121deg,rgba(146, 154, 171, 1) 0%, rgba(71, 74, 86, 1) 30%, rgba(11, 11, 13, 1) 100%);
    box-shadow: 0px 5px 10px black;
}
.icons a{
    font-size: 20px;
    transition: 0.5s;
    border-radius: 50%;
    padding: 5px 8px;
}
.icons a:hover{
    background: linear-gradient(121deg,rgba(146, 154, 171, 1) 0%, rgba(71, 74, 86, 1) 30%, rgba(11, 11, 13, 1) 100%);
    color: aliceblue !important;
    font-size: 23px; 
       /* transition: 1s; */
}
.img-fluid{
    filter: drop-shadow(2px 2px 5px black);
}
.homeNav{
    width: 100%;
    background-color: transparent !important;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
}
.homeNav li a{
    color: white !important;
}
.navbar-toggler{
    border-color: aliceblue;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.main{
    position: relative;
    top: 50px;
}
.top3{
display: flex;
justify-content: space-around;
align-items: center;
}
.topItem img{
    width: 100%;
    filter: drop-shadow(5px 5px 20px black);
}
.topItem a{
    text-shadow: none;
    margin-bottom: 10px !important;
    background-color: black;
    border: none !important;
    color: white !important;
    transition: 0.5s;
}
.spcl a{
    /* text-shadow: none; */
    border-radius: 20px;
    margin-bottom: 5px !important;
    background-color: black;
    border: 1px solid white !important;
    color: white !important;
    transition: 0.5s;
}
.topItem a:hover{
    border: none !important;
    background: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    color: black !important;
    transform: scale(105%);
    box-shadow: 2px 2px 10px black;
}
.spcl a:hover{
    /* background-color: black !important;
    border: 1px solid  white !important;
    color: white; */
    border: none !important;
    background: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    color: black !important;
    transform: scale(105%);
    box-shadow: 2px 2px 10px black !important;
}
.topItem{
    text-shadow: 0px 0px 5px black;
    box-sizing: border-box;
    background-color: #474a56;
    color: white;
    width: 32%;
    height: 400px;
    /* margin: 5px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    /* height: fit-content;
    width: fit-content; */
}
.spcl{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.carousel-item img{
    filter: drop-shadow(0px 0px 150px white);
}
@media screen and (max-width: 577px){
    .top3{
        flex-direction: column;
        
    }
    .topItem{
        margin-bottom: 10px;
        justify-content: center;
        width: 80%;
        height: fit-content;
    }
    .topItem h4{
        font-size: 1rem;
    }
    .topItem a{
        font-size: 0.5rem;
        width: 100%;
    }
    .topItem img{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    footer{
        flex-direction: column;
    }
}
.banner1,.banner2{
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner1 img, .banner2 img{
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
}
.banner-content{
    width: 90%;
    font-size: 1rem;
    box-sizing: border-box;
    transition: opacity 0.2s, transform 0.7s ease;
        position: absolute;
        transform: translateX(-50%);
        opacity: 0;
        color: #d3d5fd;
}
.banner1:hover img, .banner2:hover img
{
    transition: 0.5s;
    filter: brightness(40%);
}
.banner1:hover .banner-content, .banner2:hover .banner-content
{
    transform: translateX(0);
    opacity: 1;
    
}
#ban, footer button{
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
    transition: 0.5s;
}
#ban:hover, footer button:hover{
    border: none !important;
    background: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    color: black !important;
    transform: scale(105%);
    box-shadow: 2px 2px 10px black;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #d3d5fd;
}
footer a{
    text-decoration: none;
    color: #d3d5fd;
    margin: 10px;
    /* font-size: 1.2rem; */
    transition: 0.5s;
}
footer a i{
    font-size: 1.2rem;
}
footer a i:hover{
    font-size: 1.6rem;
    transition: 0.5s;
    background-image: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    color: transparent;
    background-clip: text;
}
footer textarea{
    background-color: #a7a7a9;
    border-radius: 5px;
    margin: 5px 0px 7px;
}
footer a:hover{
    font-size: 1.05rem;
    transition: 0.5s;
    background-image: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    color: transparent;
    background-clip: text;
}
footer div{
        margin: 10px 0px 20px 0px;
}
/* .review{
    position: relative;
    text-align: justify;
}
.review img{
width: 20%;
float: right;
position: absolute;
top: 0;
} */
.homeNav li:hover{
    background: linear-gradient(121deg,rgba(211, 213, 253, 1) 0%, rgba(146, 154, 171, 1) 50%, rgba(71, 74, 86, 1) 100%);
    border-radius: 20px;
    text-shadow: 0px 0px 4px black;
    transform: scale(105%);
}
.homeNav a, .homeNav li{
    border-radius: 20px;
    height: fit-content;
    padding: 2px;
    width: fit-content;
    transition: 0.5s;
}